/*初始化样式*/
body,h1,h2,h3,h4,h5,ul,li,a,div,p,span,table,tr,td,img{margin: 0;padding: 0;}
ul{padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{outline: none;border: 0;}
body{font-family: "Microsoft Yahei";}
/*清除浮动*/
.clearfix:before,
.clearfix:after{content: " ";display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom: 1;}
/*浮动*/
.pull-right{float: right !important;}
.pull-left{float: left !important;}
/*----------------------------------------------------------------------------------------------------------*/
.content{float: left;}
.flex-text-wrap,pre{margin: 0 !important;}
.commentAll{width: 560px;padding: 20px;border: 1px solid #ededed;margin: 20px auto;}
.plBtn{width: 75px;height: 36px;line-height: 36px;background-color: #339b53;text-align: center;display: block;float: right;color: #FFFFFF;font-size: 12px;border-radius: 6px;margin-right: 2px;margin-top: 20px;}
.plBtn:hover{background-color: #2f904d;}

/*----------评论区域 begin----------*/
.comment-show{margin-top: 20px;}
.comment-show-con {
    width: 100%;
    border-top: 1px solid #EDEDED;
    padding: 10px 0;
}
.comment-show-con-img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin-top: 5px;
}
.comment-show-con-list {
    width: 85%;
    margin-left: 3%;
}
.pl-text {
    width: 100%;
    margin-top: 7px;
    word-wrap: break-word;
    overflow: hidden;
}
.date-dz {
    width: 100%;
    float: left;
}
.hf-list-con {
    float: left;
    width: 100%;
    background-color: #eaeaec;
    margin-top: 7px;
}
.comment-size-name {
    font-size: 12px;
    color: #339b53;
}
.my-pl-con {
    font-size: 12px;
    color: #8b8b8b;
    width: 100%;
}
.date-dz-left {
    font-size: 12px;
    color: #8b8b8b;
    display: block;
    padding-top: 18px;
}
.comment-time, .comment-pl-block {
    padding-top: 7px;
}
.comment-pl-block {
    margin-top: 0;
}
.date-dz-right {
    display: block;
    padding-top: 6px;
    padding-right: 18px;
    position: relative;
    overflow: hidden;
}
.removeBlock {
    float: left;
    font-size: 12px;
    color: #8b8b8b;
    margin-right: 24px;
    display: block;
    opacity: 0;
}
.hf-con-block {
    display: block;
}
.date-dz-pl, .date-dz-line, .date-dz-z {
    font-size: 12px;
    color: #8b8b8b;
}
.date-dz-line {
    display: block;
    padding: 0 20px;
}
.date-dz-z-click-red {
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    background-image: url(../../src/assets/img/icon-all_01.png);
    background-repeat: no-repeat;
    background-position: -6px -198px;
    margin-right: 5px;
}
.z-num {
    font-style: normal;
}
.date-dz-z-click {
    color: #b83b44;
}
.red {
    background-position: -6px -119px !important;
}
.hf-pl {
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: #339b53;
    text-align: center;
    display: block;
    float: right;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 6px;
    margin-right: 2px;
    margin-top: 20px;
}
.hf-con{width: 100%;margin-top: 24px;}
.hf-input{font-size: 12px;}
.all-pl-con {
    width: 96%;
    padding: 2% 0;
    float: left;
    margin: 0 2%;
}
.atName {
    font-size: 12px;
    color: #339b53;
}
.hfpl-text{margin-top: 0;}
.date-dz:hover .removeBlock {
    opacity: 1;
}
.hf-list-con .all-pl-con {
    border-top: 1px solid #d9d9d9;
    padding-bottom: 12px;
}
.hf-list-con .all-pl-con:first-child {
    border-top: 0;
}



/*----------评论区域 end----------*/



.upload_warp_img_div_del {
	position: absolute;
	top: 6px;
	width: 16px;
	right: 4px;
}

.upload_warp_img_div_top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.4);
	line-height: 30px;
	text-align: left;
	color: #fff;
	font-size: 12px;
	text-indent: 4px;
}

.upload_warp_img_div_text {
	white-space: nowrap;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload_warp_img_div img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.upload_warp_img_div {
	position: relative;
	height: 100px;
	width: 120px;
	border: 1px solid #ccc;
	margin: 0px 30px 10px 0px;
	float: left;
	line-height: 100px;
	display: table-cell;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
}

.upload_warp_img {
	border-top: 1px solid #D2D2D2;
	padding: 14px 0 0 14px;
	overflow: hidden
}

.upload_warp_text {
	text-align: left;
	margin-bottom: 10px;
	padding-top: 10px;
	text-indent: 14px;
	border-top: 1px solid #ccc;
	font-size: 14px;
}

.upload_warp_right {
	float: left;
	width: 40%;
	margin-left: 2%;
	height: 100%;
	border: 1px dashed #999;
	border-radius: 4px;
	line-height: 130px;
	color: #999;
}

.upload_warp_left img {
	margin-top: 32px;
}

.upload_warp_left {
	float: left;
	width: 25%;
	height: 100%;
	border: 1px dashed #999;
	border-radius: 4px;
	cursor: pointer;
}

.upload_warp {
	margin-bottom: 2%;
	height: 100px;
}

.upload {
	border: 1px solid #ccc;
	background-color: #fff;
	width: 500px;
	box-shadow: 0px 1px 0px #ccc;
	border-radius: 4px;
}

.hello {
	width: 500px;
	margin-top: 5%;
	margin-left: 5%;
	text-align: center;
}
.ul_msg{
	float: left;
	margin-top: 40px;
width: 580px;
height: 50px;
}
.ul_msg_ul{
	width: 580px;
height: 50px;
	text-align: center;
	
}
.ul_msg_ul li{
	border: 1px solid whitesmoke;
	float: left;
	width: 140px;
	line-height: 30px;
}
.ul_msg_ul li:hover{
	background: lightgrey;
}
.little_number{
	color: darkgrey;
}




















